USE [master]
GO
/****** Object:  Database [NINEORCHIDDB]    Script Date: 1/7/2019 5:55:58 AM ******/
CREATE DATABASE [NINEORCHIDDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NINEORCHIDDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\NINEORCHIDDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NINEORCHIDDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\NINEORCHIDDB_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NINEORCHIDDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NINEORCHIDDB]
GO
/****** Object:  StoredProcedure [dbo].[stp_delete_gedung]    Script Date: 1/7/2019 5:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[stp_delete_gedung] 
	-- Add the parameters for the stored procedure here
	@idxGedung AS INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DELETE FROM DBO.Tbl_MGedung WHERE idxGedung = @idxGedung
    -- Insert statements for procedure here
	
END

GO
/****** Object:  StoredProcedure [dbo].[stp_delete_kamar]    Script Date: 1/7/2019 5:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[stp_delete_kamar] 
	-- Add the parameters for the stored procedure here
	@idxKamar AS varchar(10)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DELETE FROM DBO.Tbl_MKamar WHERE idxKamar = @idxKamar
    -- Insert statements for procedure here
	
END

GO
/****** Object:  StoredProcedure [dbo].[stp_delete_kerabat]    Script Date: 1/7/2019 5:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[stp_delete_kerabat] 
	-- Add the parameters for the stored procedure here
	@idxKerabat AS INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DELETE FROM DBO.Tbl_MKerabat WHERE idxKerabat = @idxKerabat
    -- Insert statements for procedure here
	
END

GO
/****** Object:  StoredProcedure [dbo].[stp_delete_penghuni]    Script Date: 1/7/2019 5:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[stp_delete_penghuni] 
	-- Add the parameters for the stored procedure here
	@idxPenghuni AS INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DELETE FROM DBO.Tbl_MKerabat WHERE idxPenghuni = @idxPenghuni
	DELETE FROM DBO.Tbl_MPenghuni WHERE idxPenghuni = @idxPenghuni
    -- Insert statements for procedure here
	
END

GO
/****** Object:  StoredProcedure [dbo].[stp_delete_perusahaan]    Script Date: 1/7/2019 5:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[stp_delete_perusahaan] 
	-- Add the parameters for the stored procedure here
	@idxPerusahaan AS INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DELETE FROM DBO.Tbl_MPerusahaan WHERE idxPerusahaan = @idxPerusahaan
    -- Insert statements for procedure here
	
END

GO
/****** Object:  StoredProcedure [dbo].[stp_get_ddl]    Script Date: 1/7/2019 5:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[stp_get_ddl]
	-- Add the parameters for the stored procedure here
	@jenisddl as int
	,@param as varchar(5) = NULL
AS
BEGIN
	-- ket
	-- 1 ddl get nama gedung
	-- 2 ddl get tempat bekerja
	-- 3 ddl get nama kamar
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF @jenisddl = 1 
	BEGIN
		select idxGedung AS [Key_value], gedung_nm AS [Key_text] from dbo.Tbl_MGedung 
	END	
	IF @jenisddl = 2 
	BEGIN
		select idxPerusahaan AS [Key_value], concat(nm_perusahaan,'-',almt_perusahaan,',',kota_perusahaan) AS [Key_text] from dbo.Tbl_MPerusahaan 
	END	
	IF @jenisddl = 3
	BEGIN
		select idxKamar AS [Key_value], CONCAT(idxKamar, ' - ', 'No.',no_kamar, ' - ', CASE WHEN peruntukan = '1' THEN 'Pria' 
     WHEN peruntukan = '2' THEN 'Wanita' 
	 ELSE 'Wanita/Pasutri' END) AS [Key_text] from dbo.Tbl_MKamar WHERE idxGedung = @param AND stat_kmr = 0
	END
END
GO
/****** Object:  StoredProcedure [dbo].[stp_get_gedung]    Script Date: 1/7/2019 5:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[stp_get_gedung]
	-- Add the parameters for the stored procedure here
	@gedung_nm as varchar(20) = NULL,
	@idxGedung as INT = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	
    -- Insert statements for procedure here
	SELECT [idxGedung]
      ,[gedung_nm]
      ,[jml_lantai]
  FROM [NINEORCHIDDB].[dbo].[Tbl_MGedung] WHERE idxGedung = IIF(@idxGedung IS NULL, idxGedung, @idxGedung )
END

GO
/****** Object:  StoredProcedure [dbo].[stp_get_kamar]    Script Date: 1/7/2019 5:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[stp_get_kamar]
	-- Add the parameters for the stored procedure here
	@idxKamar as varchar(10) = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	
    -- Insert statements for procedure here
	SELECT *
  FROM [dbo].[vw_kamar] WHERE idxKamar = IIF(@idxKamar IS NULL, idxKamar, @idxKamar )
END

GO
/****** Object:  StoredProcedure [dbo].[stp_get_kerabat]    Script Date: 1/7/2019 5:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[stp_get_kerabat]
	-- Add the parameters for the stored procedure here
	@idxPenghuni as INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	
    -- Insert statements for procedure here
	SELECT * FROM Tbl_MKerabat WHERE idxPenghuni = @idxPenghuni
END

GO
/****** Object:  StoredProcedure [dbo].[stp_get_penghuni]    Script Date: 1/7/2019 5:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[stp_get_penghuni]
	-- Add the parameters for the stored procedure here
	@idxPenghuni as varchar(10) = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	
    -- Insert statements for procedure here
	SELECT *
  FROM [dbo].[vw_penghuni] WHERE [idxPenghuni] = IIF(@idxPenghuni IS NULL, idxPenghuni, @idxPenghuni )
END

GO
/****** Object:  StoredProcedure [dbo].[stp_get_perusahaan]    Script Date: 1/7/2019 5:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[stp_get_perusahaan]
	-- Add the parameters for the stored procedure here
	@idxPerusahaan as INT = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	
    -- Insert statements for procedure here
	SELECT [idxPerusahaan]
      ,[nm_perusahaan]
      ,[almt_perusahaan]
      ,[kota_perusahaan]
      ,[telp_perusahaan]
  FROM [NINEORCHIDDB].[dbo].[Tbl_MPerusahaan] WHERE idxPerusahaan = IIF(@idxPerusahaan IS NULL, idxPerusahaan, @idxPerusahaan )
END

GO
/****** Object:  StoredProcedure [dbo].[stp_insert_gedung]    Script Date: 1/7/2019 5:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[stp_insert_gedung]
	-- Add the parameters for the stored procedure here
	 @gedung_nm as varchar(20)
    ,@jml_lantai as varchar(2)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[Tbl_MGedung] VALUES (@gedung_nm, @jml_lantai)
END

GO
/****** Object:  StoredProcedure [dbo].[stp_insert_kamar]    Script Date: 1/7/2019 5:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[stp_insert_kamar]
	-- Add the parameters for the stored procedure here
       @idxGedung AS INT
      ,@no_kamar AS VARCHAR(3)
      ,@lantai_kmr AS VARCHAR(3)
      ,@kategori_kmr AS VARCHAR (20)
      ,@peruntukan AS VARCHAR (10)
      ,@isAC AS BIT
      ,@isTV AS BIT
      ,@trf_harian AS MONEY
      ,@trf_bulanan AS MONEY
      ,@trf_tiga_bulanan AS MONEY
      ,@ket AS VARCHAR(50)
      ,@foto1 AS image = NULL
      ,@foto2 AS image = NULL
      ,@foto3 AS image = NULL
      ,@foto4 AS image = NULL
      ,@foto5 AS image = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @nmGedung as varchar(20);
	SELECT @nmGedung = gedung_nm from dbo.Tbl_MGedung
					where idxGedung = @idxGedung;
	DECLARE @idxKamar as varchar(20);
	SET @idxKamar = CAST(SUBSTRING(@nmGedung,1,3) AS varchar) + CAST(@lantai_kmr AS varchar) + CAST(@no_kamar AS varchar);
    -- Insert statements for procedure here
	INSERT INTO [dbo].Tbl_MKamar ([idxKamar]
      ,[idxGedung]
      ,[no_kamar]
      ,[lantai_kmr]
      ,[kategori_kmr]
      ,[peruntukan]
      ,[isAC]
      ,[isTV]
      ,[trf_harian]
      ,[trf_bulanan]
      ,[trf_tiga_bulanan]
      ,[stat_kmr]
      ,[ket]
      ,[foto1]
      ,[foto2]
      ,[foto3]
      ,[foto4]
      ,[foto5]) 

	   VALUES (@idxKamar
      ,@idxGedung
      ,@no_kamar
      ,@lantai_kmr
      ,@kategori_kmr
      ,@peruntukan
      ,@isAC
      ,@isTV
      ,@trf_harian
      ,@trf_bulanan
      ,@trf_tiga_bulanan
      ,0
      ,@ket
      ,@foto1
      ,@foto2
      ,@foto3
      ,@foto4
      ,@foto5)
END

GO
/****** Object:  StoredProcedure [dbo].[stp_insert_kerabat]    Script Date: 1/7/2019 5:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[stp_insert_kerabat]
	-- Add the parameters for the stored procedure here
	 @idxPenghuni as INT
      ,@nm_kerabat AS VARCHAR(50)
      ,@almt_kerabat AS VARCHAR(200)
      ,@kota_kerabat AS VARCHAR(10)
      ,@kntk_kerabat AS VARCHAR(20)
      ,@hub_dgn_penghuni AS VARCHAR(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].Tbl_MKerabat([idxPenghuni]
      ,[nm_kerabat]
      ,[almt_kerabat]
      ,[kota_kerabat]
      ,[kntk_kerabat]
      ,[hub_dgn_penghuni]) VALUES (@idxPenghuni
      ,@nm_kerabat
      ,@almt_kerabat
      ,@kota_kerabat
      ,@kntk_kerabat
      ,@hub_dgn_penghuni)
END

GO
/****** Object:  StoredProcedure [dbo].[stp_insert_penghuni]    Script Date: 1/7/2019 5:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[stp_insert_penghuni]
	-- Add the parameters for the stored procedure here
	   @nm_penghuni AS VARCHAR(50)
      ,@tmpt_lhr AS VARCHAR(20)
      ,@tggl_lhr AS DATETIME
      ,@type_id AS VARCHAR(10)
      ,@no_id AS VARCHAR(30)
      ,@agama AS VARCHAR(10)
      ,@no_hp AS VARCHAR(20)
      ,@email AS VARCHAR(50)
      ,@almt_asal AS VARCHAR(200)
      ,@pekerjaan AS VARCHAR(200)
      ,@foto_penghuni AS image = NULL
      ,@foto_ktp AS image = NULL
	  ,@idxPerusahaan AS INT = NULL
	  ,@nm_perusahaan AS VARCHAR(50)
      ,@almt_perusahaan AS VARCHAR(200)
      ,@kota_perusahaan AS VARCHAR(20)
      ,@telp_perusahaan AS VARCHAR(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF @idxPerusahaan IS NULL
	BEGIN 
		INSERT INTO dbo.Tbl_MPerusahaan(
		 [nm_perusahaan]
		,[almt_perusahaan]
		,[kota_perusahaan]
		,[telp_perusahaan]) VALUES(@nm_perusahaan
		,@almt_perusahaan
		,@kota_perusahaan
		,@telp_perusahaan)
	
		select @idxPerusahaan = MAX(idxPerusahaan) from DBO.Tbl_MPerusahaan
	END


    
	INSERT INTO DBO.Tbl_MPenghuni ([idxPerusahaan]
      ,[nm_penghuni]
      ,[tmpt_lhr]
      ,[tggl_lhr]
      ,[type_id]
      ,[no_id]
      ,[agama]
      ,[no_hp]
      ,[email]
      ,[almt_asal]
      ,[pekerjaan]
      ,[foto_penghuni]
      ,[foto_ktp]) VALUES(@idxPerusahaan
      ,@nm_penghuni
      ,@tmpt_lhr
      ,@tggl_lhr
      ,@type_id
      ,@no_id
      ,@agama
      ,@no_hp
      ,@email
      ,@almt_asal
      ,@pekerjaan
      ,@foto_penghuni
      ,@foto_ktp)
END

GO
/****** Object:  StoredProcedure [dbo].[stp_insert_perusahaan]    Script Date: 1/7/2019 5:55:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[stp_insert_perusahaan]
	-- Add the parameters for the stored procedure here
	  @nm_perusahaan as varchar(50)
      ,@almt_perusahaan as varchar(200)
      ,@kota_perusahaan as varchar(20)
      ,@telp_perusahaan as varchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO dbo.Tbl_MPerusahaan VALUES (@nm_perusahaan,@almt_perusahaan,@kota_perusahaan,@telp_perusahaan)
END

GO
/****** Object:  StoredProcedure [dbo].[stp_update_gedung]    Script Date: 1/7/2019 5:55:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[stp_update_gedung] 
	-- Add the parameters for the stored procedure here
	  @jml_lantai as varchar(2)
      ,@gedung_nm as varchar(20)
	  ,@idxGedung as INT
  
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [NINEORCHIDDB].[dbo].[Tbl_MGedung] 
	SET gedung_nm = @gedung_nm 
		,jml_lantai = @jml_lantai
	WHERE idxGedung = @idxGedung
END

GO
/****** Object:  StoredProcedure [dbo].[stp_update_kamar]    Script Date: 1/7/2019 5:55:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[stp_update_kamar]
	-- Add the parameters for the stored procedure here
       @idxKamar AS varchar(10)
      ,@kategori_kmr AS VARCHAR (20)
      ,@peruntukan AS VARCHAR (10)
      ,@isAC AS BIT
      ,@isTV AS BIT
      ,@trf_harian AS MONEY
      ,@trf_bulanan AS MONEY
      ,@trf_tiga_bulanan AS MONEY
      ,@ket AS VARCHAR(50)
      ,@foto1 AS image = NULL
      ,@foto2 AS image = NULL
      ,@foto3 AS image = NULL
      ,@foto4 AS image = NULL
      ,@foto5 AS image = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    -- Insert statements for procedure here
	UPDATE [dbo].Tbl_MKamar SET 
      [kategori_kmr] = @kategori_kmr
      ,[peruntukan] = @peruntukan
      ,[isAC] = @isAC
      ,[isTV] = @isTV
      ,[trf_harian] = @trf_harian
      ,[trf_bulanan] = @trf_bulanan
      ,[trf_tiga_bulanan] =@trf_tiga_bulanan
      ,[ket] = @ket 
	  where idxKamar = @idxKamar
	  
END

GO
/****** Object:  StoredProcedure [dbo].[stp_update_penghuni]    Script Date: 1/7/2019 5:55:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[stp_update_penghuni]
	-- Add the parameters for the stored procedure here
	   @nm_penghuni AS VARCHAR(50)
      ,@tmpt_lhr AS VARCHAR(20)
      ,@tggl_lhr AS DATE
      ,@type_id AS VARCHAR(10)
      ,@no_id AS VARCHAR(30)
      ,@agama AS VARCHAR(10)
      ,@no_hp AS VARCHAR(20)
      ,@email AS VARCHAR(50)
      ,@almt_asal AS VARCHAR(200)
      ,@pekerjaan AS VARCHAR(200)
      ,@foto_penghuni AS image = NULL
      ,@foto_ktp AS image = NULL
	  ,@idxPerusahaan AS INT
	  ,@idxPenghuni AS INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    
	UPDATE DBO.Tbl_MPenghuni 
	   SET [idxPerusahaan] = @idxPerusahaan
      ,[nm_penghuni] = @nm_penghuni
      ,[tmpt_lhr] = @tmpt_lhr
      ,[tggl_lhr] = @tggl_lhr
      ,[type_id] = @type_id
      ,[no_id] = @no_id
      ,[agama] = @agama
      ,[no_hp] = @no_hp
      ,[email] = @email
      ,[almt_asal] = @almt_asal
      ,[pekerjaan] = @pekerjaan
      ,[foto_penghuni] = @foto_penghuni
      ,[foto_ktp] = @foto_ktp
	  WHERE idxPenghuni = @idxPenghuni
END

GO
/****** Object:  Table [dbo].[Tbl_MCode]    Script Date: 1/7/2019 5:55:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_MCode](
	[idxCode] [int] IDENTITY(1,1) NOT NULL,
	[tbl_nm] [varchar](20) NULL,
	[code_nm] [varchar](10) NULL,
	[code_ket] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_MCode] PRIMARY KEY CLUSTERED 
(
	[idxCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_MGedung]    Script Date: 1/7/2019 5:55:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_MGedung](
	[idxGedung] [int] IDENTITY(1,1) NOT NULL,
	[gedung_nm] [varchar](20) NULL,
	[jml_lantai] [varchar](2) NULL,
 CONSTRAINT [PK_Tbl_MGedung] PRIMARY KEY CLUSTERED 
(
	[idxGedung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_MKamar]    Script Date: 1/7/2019 5:55:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_MKamar](
	[idxKamar] [varchar](10) NOT NULL,
	[idxGedung] [int] NULL,
	[no_kamar] [varchar](3) NULL,
	[lantai_kmr] [varchar](3) NULL,
	[kategori_kmr] [varchar](20) NULL,
	[peruntukan] [varchar](10) NULL,
	[isAC] [bit] NULL,
	[isTV] [bit] NULL,
	[trf_harian] [money] NULL,
	[trf_bulanan] [money] NULL,
	[trf_tiga_bulanan] [money] NULL,
	[stat_kmr] [int] NULL,
	[ket] [varchar](50) NULL,
	[foto1] [image] NULL,
	[foto2] [image] NULL,
	[foto3] [image] NULL,
	[foto4] [image] NULL,
	[foto5] [image] NULL,
 CONSTRAINT [PK_Tbl_MKamar] PRIMARY KEY CLUSTERED 
(
	[idxKamar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_MKerabat]    Script Date: 1/7/2019 5:55:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_MKerabat](
	[idxKerabat] [int] IDENTITY(1,1) NOT NULL,
	[idxPenghuni] [int] NULL,
	[nm_kerabat] [varchar](50) NULL,
	[almt_kerabat] [varchar](200) NULL,
	[kota_kerabat] [varchar](10) NULL,
	[kntk_kerabat] [varchar](20) NULL,
	[hub_dgn_penghuni] [varchar](20) NULL,
	[type_kerabat] [varchar](10) NULL,
 CONSTRAINT [PK_Tbl_MKerabat] PRIMARY KEY CLUSTERED 
(
	[idxKerabat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_MPenghuni]    Script Date: 1/7/2019 5:55:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_MPenghuni](
	[idxPenghuni] [int] IDENTITY(1,1) NOT NULL,
	[idxPerusahaan] [int] NULL,
	[nm_penghuni] [varchar](50) NULL,
	[tmpt_lhr] [varchar](20) NULL,
	[tggl_lhr] [date] NULL,
	[jenis_kelamain] [bit] NULL,
	[type_id] [varchar](10) NULL,
	[no_id] [varchar](30) NULL,
	[agama] [varchar](10) NULL,
	[no_hp] [varchar](20) NULL,
	[email] [varchar](50) NULL,
	[almt_asal] [varchar](200) NULL,
	[pekerjaan] [varchar](50) NULL,
	[stat_penghuni] [varchar](5) NULL,
	[foto_penghuni] [image] NULL,
	[foto_ktp] [image] NULL,
 CONSTRAINT [PK_Tbl_MPenghuni] PRIMARY KEY CLUSTERED 
(
	[idxPenghuni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_MPerusahaan]    Script Date: 1/7/2019 5:55:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_MPerusahaan](
	[idxPerusahaan] [int] IDENTITY(1,1) NOT NULL,
	[nm_perusahaan] [varchar](50) NULL,
	[almt_perusahaan] [varchar](200) NULL,
	[kota_perusahaan] [varchar](20) NULL,
	[telp_perusahaan] [varchar](20) NULL,
 CONSTRAINT [PK_Tbl_MPerusahaan] PRIMARY KEY CLUSTERED 
(
	[idxPerusahaan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_MUser]    Script Date: 1/7/2019 5:55:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_MUser](
	[idxUser] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_MUser] PRIMARY KEY CLUSTERED 
(
	[idxUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_TBooking]    Script Date: 1/7/2019 5:55:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_TBooking](
	[idxBooking] [int] IDENTITY(1,1) NOT NULL,
	[idxPenghuni] [int] NULL,
	[idxKamar] [varchar](10) NULL,
	[tggl_stay] [datetime] NULL,
	[tggl_book] [datetime] NULL,
	[isDp] [bit] NULL,
	[val_dp] [money] NULL,
	[SignedBy] [varchar](20) NULL,
	[cost_deal] [money] NULL,
 CONSTRAINT [PK_Tbl_TBooking] PRIMARY KEY CLUSTERED 
(
	[idxBooking] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_TCheckin]    Script Date: 1/7/2019 5:55:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_TCheckin](
	[idxCheckin] [int] IDENTITY(1,1) NOT NULL,
	[idxPenghuni] [int] NULL,
	[idxKamar] [varchar](10) NULL,
	[tggl_checkin] [datetime] NULL,
	[type_angsuran] [varchar](5) NULL,
	[last_pmbayaran] [datetime] NULL,
	[cost_deal] [money] NULL,
 CONSTRAINT [PK_Tbl_TCheckin] PRIMARY KEY CLUSTERED 
(
	[idxCheckin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_TCheckout]    Script Date: 1/7/2019 5:55:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_TCheckout](
	[idxCheckout] [int] IDENTITY(1,1) NOT NULL,
	[idxCheckin] [int] NULL,
	[tggl_checkout] [datetime] NULL,
	[isCheckout] [bit] NULL,
	[signedBy] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_TCheckout] PRIMARY KEY CLUSTERED 
(
	[idxCheckout] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_TPembayaran]    Script Date: 1/7/2019 5:55:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_TPembayaran](
	[idxPembayaran] [int] IDENTITY(1,1) NOT NULL,
	[idxCheckin] [int] NULL,
	[tggl_pmbyrn] [datetime] NULL,
	[tggl_perid_pmbyrn] [datetime] NULL,
	[cost_pmbyrn] [money] NULL,
	[isLunas] [bit] NULL,
	[signedBy] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[vw_kamar]    Script Date: 1/7/2019 5:55:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vw_kamar]
AS
	SELECT [idxKamar]
      ,b.gedung_nm
      ,[no_kamar]
      ,[lantai_kmr]
      ,[kategori_kmr]
      ,CASE WHEN [peruntukan] = 1 THEN 'Pria' WHEN peruntukan = 2 THEN 'Wanita' ELSE 'Wanita/Pasutri' END AS peruntukan
      ,CASE WHEN [isAC] = 1 THEN 'iya' ELSE 'tidak' END AS isAC
      ,CASE WHEN [isTV] = 1 THEN 'iya' ELSE 'tidak' END AS isTV
      ,CAST(CONVERT(varchar, CAST([trf_harian] AS Money), 1) AS varchar) AS [trf_harian]
      ,CAST(CONVERT(varchar, CAST([trf_bulanan] AS Money), 1) AS varchar) AS [trf_bulanan]
      ,CAST(CONVERT(varchar, CAST([trf_tiga_bulanan] AS Money), 1) AS varchar) AS [trf_tiga_bulanan]
      ,CASE WHEN [stat_kmr] = 0 THEN 'kosong' WHEN [stat_kmr] = 1 THEN 'TERISI' ELSE 'BOOKED' END AS stat_kmr 
      ,[ket]
      ,[foto1]
      ,[foto2]
      ,[foto3]
      ,[foto4]
      ,[foto5] FROM dbo.Tbl_MKamar a INNER JOIN
				  dbo.Tbl_MGedung b ON b.idxGedung =a.idxGedung




GO
/****** Object:  View [dbo].[vw_kerabat]    Script Date: 1/7/2019 5:55:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[vw_kerabat]
AS
	SELECT * from dbo.Tbl_MKerabat





GO
/****** Object:  View [dbo].[vw_penghuni]    Script Date: 1/7/2019 5:55:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[vw_penghuni]
AS
	SELECT [idxPenghuni] 
      ,[idxPerusahaan]
      ,[nm_penghuni]
      ,CONCAT(tmpt_lhr,',',tggl_lhr) AS TTL
      ,[type_id]
      ,[no_id]
      ,[agama]
      ,[no_hp]
      ,[email]
      ,[almt_asal]
      ,[pekerjaan]
      ,CASE WHEN [stat_penghuni] = 1 THEN 'Calon Penghuni' ELSE 'Penghuni' END AS stat_penghuni
      ,[foto_penghuni]
      ,[foto_ktp]
	  ,'List' AS Kerabat
	  ,'Detail^DetailPenghuni.aspx?ID='+CAST([idxPenghuni] AS varchar)+'^_top' AS Details
	  
  FROM [NINEORCHIDDB].[dbo].[Tbl_MPenghuni] 
										



GO
SET IDENTITY_INSERT [dbo].[Tbl_MCode] ON 

INSERT [dbo].[Tbl_MCode] ([idxCode], [tbl_nm], [code_nm], [code_ket]) VALUES (1, N'Tbl_MKamar', N'1', NULL)
SET IDENTITY_INSERT [dbo].[Tbl_MCode] OFF
SET IDENTITY_INSERT [dbo].[Tbl_MGedung] ON 

INSERT [dbo].[Tbl_MGedung] ([idxGedung], [gedung_nm], [jml_lantai]) VALUES (3, N'GdOrchid', N'3')
INSERT [dbo].[Tbl_MGedung] ([idxGedung], [gedung_nm], [jml_lantai]) VALUES (10, N'GdFlambbhbh', N'2')
INSERT [dbo].[Tbl_MGedung] ([idxGedung], [gedung_nm], [jml_lantai]) VALUES (12, N'Mawar', N'2')
SET IDENTITY_INSERT [dbo].[Tbl_MGedung] OFF
INSERT [dbo].[Tbl_MKamar] ([idxKamar], [idxGedung], [no_kamar], [lantai_kmr], [kategori_kmr], [peruntukan], [isAC], [isTV], [trf_harian], [trf_bulanan], [trf_tiga_bulanan], [stat_kmr], [ket], [foto1], [foto2], [foto3], [foto4], [foto5]) VALUES (N'Maw210', 12, N'10', N'2', N'dasdsa', N'2', 1, 1, 1111.0000, 111.0000, 11.0000, 0, N'Parkira sd', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Tbl_MKamar] ([idxKamar], [idxGedung], [no_kamar], [lantai_kmr], [kategori_kmr], [peruntukan], [isAC], [isTV], [trf_harian], [trf_bulanan], [trf_tiga_bulanan], [stat_kmr], [ket], [foto1], [foto2], [foto3], [foto4], [foto5]) VALUES (N'Maw25', 12, N'5', N'2', N'Standard', N'3', 1, 0, 200000.0000, 1000000.0000, 3000000.0000, 0, N'KLDDMSALDASD', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Tbl_MKerabat] ON 

INSERT [dbo].[Tbl_MKerabat] ([idxKerabat], [idxPenghuni], [nm_kerabat], [almt_kerabat], [kota_kerabat], [kntk_kerabat], [hub_dgn_penghuni], [type_kerabat]) VALUES (1, 1, N'Agus', N'Jalan Bekasi', N'Bekasi', N'085123123123', N'Paman', N'')
INSERT [dbo].[Tbl_MKerabat] ([idxKerabat], [idxPenghuni], [nm_kerabat], [almt_kerabat], [kota_kerabat], [kntk_kerabat], [hub_dgn_penghuni], [type_kerabat]) VALUES (2, 1, N'Luna', N'Jalan Bandung', N'Bandung', N'085626262', N'Ibu', NULL)
INSERT [dbo].[Tbl_MKerabat] ([idxKerabat], [idxPenghuni], [nm_kerabat], [almt_kerabat], [kota_kerabat], [kntk_kerabat], [hub_dgn_penghuni], [type_kerabat]) VALUES (3, 1, N'Bayu', N'test', N'tes', N'085712712712', N'Saudara', NULL)
SET IDENTITY_INSERT [dbo].[Tbl_MKerabat] OFF
SET IDENTITY_INSERT [dbo].[Tbl_MPenghuni] ON 

INSERT [dbo].[Tbl_MPenghuni] ([idxPenghuni], [idxPerusahaan], [nm_penghuni], [tmpt_lhr], [tggl_lhr], [jenis_kelamain], [type_id], [no_id], [agama], [no_hp], [email], [almt_asal], [pekerjaan], [stat_penghuni], [foto_penghuni], [foto_ktp]) VALUES (1, 1004, N'Eman', N'Bandung', CAST(0xC3150B00 AS Date), NULL, N'2', N'11111', N'Islam', N'085740126455', N'eman@gmail.com', N'l. (Jalan) Ir Juanda (Dago) Bandung', N'Programmer', NULL, NULL, NULL)
INSERT [dbo].[Tbl_MPenghuni] ([idxPenghuni], [idxPerusahaan], [nm_penghuni], [tmpt_lhr], [tggl_lhr], [jenis_kelamain], [type_id], [no_id], [agama], [no_hp], [email], [almt_asal], [pekerjaan], [stat_penghuni], [foto_penghuni], [foto_ktp]) VALUES (2, 1003, N'Joko', N'Bandung', CAST(0x113F0B00 AS Date), NULL, N'1', N'1050241708900001', N'Islam', N'085740126455', N'eman@gmail.com', N'l. (Jalan) Ir Juanda (Dago) Bandung', N'Programmer', NULL, NULL, NULL)
INSERT [dbo].[Tbl_MPenghuni] ([idxPenghuni], [idxPerusahaan], [nm_penghuni], [tmpt_lhr], [tggl_lhr], [jenis_kelamain], [type_id], [no_id], [agama], [no_hp], [email], [almt_asal], [pekerjaan], [stat_penghuni], [foto_penghuni], [foto_ktp]) VALUES (3, NULL, N'Andi', N'Semarang', CAST(0x163F0B00 AS Date), NULL, N'2', N'1050241708900001', N'Islam', N'085111', N'test@gmail.com', N'Semarang', N'Pegawai Swasta', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Tbl_MPenghuni] OFF
SET IDENTITY_INSERT [dbo].[Tbl_MPerusahaan] ON 

INSERT [dbo].[Tbl_MPerusahaan] ([idxPerusahaan], [nm_perusahaan], [almt_perusahaan], [kota_perusahaan], [telp_perusahaan]) VALUES (2, N'BNI', N'Jalan Kuningan', N'Jakarta', N'021111')
INSERT [dbo].[Tbl_MPerusahaan] ([idxPerusahaan], [nm_perusahaan], [almt_perusahaan], [kota_perusahaan], [telp_perusahaan]) VALUES (3, N'BNI', N'Jalan Kuningan', N'Jakarta', N'021111')
INSERT [dbo].[Tbl_MPerusahaan] ([idxPerusahaan], [nm_perusahaan], [almt_perusahaan], [kota_perusahaan], [telp_perusahaan]) VALUES (4, N'BNI', N'Jalan Kuningan', N'Jakarta', N'021111')
SET IDENTITY_INSERT [dbo].[Tbl_MPerusahaan] OFF
SET IDENTITY_INSERT [dbo].[Tbl_MUser] ON 

INSERT [dbo].[Tbl_MUser] ([idxUser], [username], [password]) VALUES (1, N'admin', N'admin')
INSERT [dbo].[Tbl_MUser] ([idxUser], [username], [password]) VALUES (2, N'sa', N'pertamina13')
SET IDENTITY_INSERT [dbo].[Tbl_MUser] OFF
ALTER TABLE [dbo].[Tbl_MPenghuni] ADD  CONSTRAINT [DF_Tbl_MPenghuni_stat_penghuni]  DEFAULT ((0)) FOR [stat_penghuni]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Tbl_MKamar"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 212
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Tbl_MGedung"
            Begin Extent = 
               Top = 6
               Left = 250
               Bottom = 119
               Right = 420
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_kamar'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_kamar'
GO
USE [master]
GO
